

@font-face {
  font-family: 'banner-font'; 
  src: url('PolandCanIntoBigWritingsOutline-B9RV.otf'); 
}



body {
  background-color: #ffffff;

  margin: 0px;
}
#navigation {
  display: none;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #f0f2f5;
  padding: 30px;
}

.logo {
  width: 200px;
object-fit: cover;
}

.navbar-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #606060;
}

* {
  box-sizing: border-box;
}

.banner-car {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  background-image: url("bmw-image.webp");
  background-size: cover;
  background-repeat: no-repeat;

  backdrop-filter: blur(2px);
}

.image-container-text {
  color: #f0f2f5;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  text-align: center;
  width: 1000px;
font-family:'banner-font';

}
.cars {
  padding: 40px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}



.cars-title {
  text-align: center;
  color: #12436b;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;

  padding: 10px;
}

.main-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  row-gap: 15px;
}

.item {
  background-color: var(--softWhite);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  border: 1px dotted grey;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(3, 26, 102, 0.4);
  transition: 0.4s;
  color: #272727;
}

.item:hover {
  border: 1px solid black;
}

.big-img-div {
  width: 100;
  height: 200px;
  transition: 0.7s;
}
.big-img-div:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 4px 4px 4px rgba(3, 26, 102, 0.6);
}
.big-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-container {
  padding: 20px 10px 20px 10px;
}

.big-container div * {
  margin: 10px;
}

.big-container a:hover {
  color: rgb(28, 3, 151);
}

.outer-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  margin: 20px 0px;
  padding: 20px 0px;
}

#sign-in {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;

  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: #272727;
  background-color: #f0f2f5;
}

.form-info {
  width: 100%;
}
.form-info div {
  width: 100%;
}
.form-info input {
  width: 100%;
  height: 40px;
}

#sign-in > Div {
  width: 100%;
  padding: 15px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.form-info > div div {
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  border: 3px solid #12436b;
  border-radius: 20px;
  margin-top: 10px;
  width: 30%;

  transition: 0.4s;
}

.submit-div input {
  border: 0px;
  background-color: #f0f2f5;
  margin: 3px 8px;
  color: black;
  transition: 0.4s;
}

.submit-div:hover {
  cursor: pointer;
  background-color: #12436b;


}

.submit-div:hover input {
  cursor: pointer;
  background-color: #12436b;
 
  color: white;
}

.submit-div:active {
 
  transform: translate(2px, 2px);
}

.submit-div > span {
  display: inline-block;
  margin: 5px 10px;
}

#footer {
  color: #272727;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 20px;
  display: flex;
  flex-flow: row nowrap;
}

#footer > div {
  width: 50%;
}

.left-footer {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px dotted #272727;
}
.outer-icon-div {
  display: flex;

  justify-content: space-between;

  width: 100%;

  flex: 1;
}
.icon-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: flex-start;
  justify-items: center;
  width: 60%;
}

.icon-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border: 2px solid #706dff;
}
.icon-div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 50px;
  height: 50px;
}

.icon-div div:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  border: 2px solid #2d2ae9;
  transition: 0.7s;
}

.right-footer {
  width: 50%;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 40px;
}

.signature {
  background-color: #f0f2f5;
  height: fit-content;

  color: #12436b;
  font-weight: 700;
  padding: 20px;
}
.clickable {
  transition: 0.4s;
}
.clickable:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.clickable:hover > a {
  color: #272727;
}

@media screen and (min-width: 2000px) {
  .item {
    width: 400px;
  }
}

@media screen and (min-width: 1500px) {
  * {
    font-size: 25px;
  }
  .navbar-items {
    width: 600px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .banner-car {
    height: 800px;
  }

  .image-container-text {
    padding: 60px;
  }
  .signature {
    font-size: large;
  }
}
@media screen and (max-width: 1500px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 1300px) {
  * {
    font-size: 15px;
  }

  .navbar {
    padding: 20px;
  }

  .banner-car {
    height: 600px;
  }

  .image-container-text {
    padding: 30px;

    width: 800px;
  }

  .main-container {
    grid-template-columns: auto auto;
  }
  .form-info > div > div {
    padding: 0px;
  }

  .icon-div > div {
    padding: 7px;
  }

  .icon {
    width: 45px;
    height: 45px;
  }

  .signature {
    font-size: medium;
  }
  .signature a {
    font-size: medium;
  }
}

@media screen and (max-width: 1000px) {
  .image-container-text {
    padding: 20px;
    width: 600px;
  }

  .image-container-text {
    font-size: large;
    padding: 60px;
  }

  .icon-div > div {
    padding: 5px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  .navbar-items {
    width: 300px;
    font-size: large;
  }

  .logo {
    width: 150px;
  }
  .image-container-text {
  font-size: 10px;
padding: 15px;
    width: 400px;
  }
  .cars {
    padding: 20px 0px;
  }
  .main-container {
    grid-template-columns: auto;
  }

  .item {
    width: 400px;
  }
  #sign-in {
    padding: 0px;
    width: 400px;
  }

  #sign-in Div {

    flex-flow: column nowrap;
  }

  .form-info {
    width: 100%;
  }
  .form-info div {
    width: 100%;
  }
  .form-info input {
    width: 100%;
    height: 32px;
  }

  .icon-div {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    align-content: center;
    justify-items: center;
    width: 70%;
  }

  .icon-div a {
    padding: 5px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .signature {
    font-size: small;
  }
  .signature a {
    font-size: small;
  }
}

@media screen and (max-width: 500px) {
  #navigation {
    display: block;
  }

  #menu-toggle {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menu-toggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menu-toggle a:hover {
    color: #12436b;
  }

  #menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -9px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #12436b;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    display: none;
    position: absolute;
    width: 130px;
    margin: -100px 0 0 450px;
    padding: 10px 10px;
    padding-top: 125px;

    background: #f0f2f5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-250%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */

  #menu-toggle input:checked ~ ul {
    transform: translate(-397%, 0);
    display: block;
  }

  .navbar {
    padding: 15px 30px;
  }

  .navbar-items {
    display: none;
  }
  .logo {
    width: 100px;
  }

  .image-container-text {
    width: 300px;
      font-size: 7px;
    
      
      
  }

  .item,
  #sign-in {
    width: 300px;
  }

  #sign-in Div {
  
    flex-flow: column nowrap;
  }

  .icon-div > div {
    padding: 3px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  #menu-toggle input:checked ~ ul {
    transform: translate(-406%, 0);
    display: block;
  }

  .navbar {
    padding: 10px 20px;
  }

  .logo {
    width: 80px;
  }

  .image-container-text {
    padding: 7px;
    font-size: 10px;
    width: 200px;
  }
}
