body {
  background-color: #ffffff;

  margin: 0px;
}
#navigation {
  display: none;
}
#navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #f0f2f5;
  padding: 30px;
}

#logo {
  width: 200px;
  height: fit-content;
}

#navbarItems {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #606060;
}

* {
  box-sizing: border-box;
}

#bannerCar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  background-image: url("bmw-image.webp");
  background-size: cover;
  background-repeat: no-repeat;

  backdrop-filter: blur(2px);
}

#imageContainer-text {
  color: #f0f2f5;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  text-align: center;
  width: 1000px;
}
#Cars {
  padding: 40px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#Cars-title {
  text-align: center;
  color: #12436b;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;

  padding: 10px;
}

.MainContainer {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.item {
  background-color: var(--softWhite);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  border: 1px dotted grey;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(3, 26, 102, 0.4);
  transition: 0.4s;
  color: #272727;
}

.item:hover {
  border: 1px solid black;
}

.bigImgDiv {
  width: 100;
  height: 200px;
  transition: 0.7s;
}
.bigImgDiv:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 4px 4px 4px rgba(3, 26, 102, 0.6);
}
.bigImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bigContainer {
  padding: 20px 10px 20px 10px;
}

.bigContainer div * {
  margin: 10px;
}

.bigContainer a:hover {
  color: rgb(28, 3, 151);
}

#outerSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  margin: 20px 0px;
  padding: 20px 0px;
}

#signIn {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;

  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: #272727;
  background-color: #f0f2f5;
}

#formInfo {
  width: 100%;
}
#formInfo div {
  width: 100%;
}
#formInfo input {
  width: 100%;
  height: 40px;
}

#signIn > Div {
  width: 100%;
  padding: 15px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#formInfo > Div div {
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

#submitDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  border: 3px solid #12436b;
  border-radius: 20px;
  margin-top: 10px;
  width: 30%;
}

#submitDiv input {
  border: 0px;
  background-color: #f0f2f5;
  margin: 3px 8px;
  color: black;
}

#submitDiv:hover {
  cursor: pointer;
  background-color: #12436b;

  transition: 0.5s;
}

#submitDiv:hover input {
  cursor: pointer;
  background-color: #12436b;
  transition: 0.5s;
  color: white;
}

#submitDiv:active {
  transition: 0.1s;
  transform: translate(2px, 2px);
}

#submitDiv > span {
  display: inline-block;
  margin: 5px 10px;
}

#footer {
  color: #272727;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 20px;
  display: flex;
  flex-flow: row nowrap;
}

#footer > div {
  width: 50%;
}

#leftFooter {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px dotted #272727;
}
#outerIconDiv {
  display: flex;

  justify-content: space-between;

  width: 100%;

  flex: 1;
}
#iconDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: flex-start;
  justify-items: center;
  width: 60%;
}

#iconDiv > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border: 2px solid #706dff;
}
#iconDiv a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 50px;
  height: 50px;
}

#iconDiv div:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  border: 2px solid #2d2ae9;
  transition: 0.7s;
}

#rightFooter {
  width: 50%;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 40px;
}

#signature {
  background-color: #f0f2f5;
  height: fit-content;

  color: #12436b;
  font-weight: 700;
  padding: 20px;
}
.Clickable {
  transition: 0.4s;
}
.Clickable:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.Clickable:hover > a {
  color: #272727;
}

@media screen and (min-width: 2000px) {
  .item {
    width: 400px;
  }
}

@media screen and (min-width: 1500px) {
  * {
    font-size: 25px;
  }
  #navbarItems {
    width: 600px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #bannerCar {
    height: 800px;
  }

  #imageContainer-text {
    padding: 60px;
  }
  #signature {
    font-size: large;
  }
}
@media screen and (max-width: 1500px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 1300px) {
  * {
    font-size: 15px;
  }

  #navbar {
    padding: 20px;
  }

  #bannerCar {
    height: 600px;
  }

  #imageContainer-text {
    padding: 30px;

    width: 800px;
  }

  .MainContainer {
    grid-template-columns: auto auto;
  }
  #formInfo > div > div {
    padding: 0px;
  }

  #iconDiv > div {
    padding: 7px;
  }

  .icon {
    width: 45px;
    height: 45px;
  }

  #signature {
    font-size: medium;
  }
  #signature a {
    font-size: medium;
  }
}

@media screen and (max-width: 1000px) {
  #imageContainer-text {
    padding: 20px;
    width: 600px;
  }

  #imageContainer-text {
    font-size: large;
    padding: 60px;
  }

  #iconDiv > div {
    padding: 5px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  #navbarItems {
    width: 300px;
    font-size: large;
  }

  #logo {
    width: 150px;
  }
  #imageContainer-text {
    font-size: small;

    width: 400px;
  }
  #Cars {
    padding: 20px 0px;
  }
  .MainContainer {
    grid-template-columns: auto;
  }

  .item {
    width: 400px;
  }
  #signIn {
    padding: 0px;
    width: 400px;
  }

  #signIn Div {
    padding: 0px;
    flex-flow: column nowrap;
  }

  #formInfo {
    width: 100%;
  }
  #formInfo div {
    width: 100%;
  }
  #formInfo input {
    width: 100%;
    height: 32px;
  }

  #iconDiv {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    align-content: center;
    justify-items: center;
    width: 70%;
  }

  #iconDiv a {
    padding: 5px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  #signature {
    font-size: small;
  }
  #signature a {
    font-size: small;
  }
}

@media screen and (max-width: 500px) {
  #navigation {
    display: block;
  }

  #menuToggle {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #12436b;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -9px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #12436b;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    display: none;
    position: absolute;
    width: 130px;
    margin: -100px 0 0 450px;
    padding: 10px 10px;
    padding-top: 125px;

    background: #f0f2f5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-250%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */

  #menuToggle input:checked ~ ul {
    transform: translate(-397%, 0);
    display: block;
  }

  #navbar {
    padding: 15px 30px;
  }

  #navbarItems {
    display: none;
  }
  #logo {
    width: 100px;
  }

  #imageContainer-text {
    width: 300px;
  }

  .item,
  #signIn {
    width: 300px;
  }

  #signIn Div {
    padding: 0px;
    flex-flow: column nowrap;
  }

  #iconDiv > div {
    padding: 3px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  #menuToggle input:checked ~ ul {
    transform: translate(-406%, 0);
    display: block;
  }

  #navbar {
    padding: 5px 20px;
  }

  #logo {
    width: 80px;
  }

  #imageContainer-text {
    padding: 7px;
    font-size: 10px;
    width: 200px;
  }
}
